body {
    background-color: goldenrod;
    color: black;
    font-family: "Lobster", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffb500;
    color: black;
    font-family: "Qwitcher Grypen", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}